#container {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
    max-width: 900px;
	padding: 10px 150px 10px 150px;
	text-align: left;
}

h1 {
    font-style: Bold;
    color: #17365d;
    text-align: center;
    font-size: 2.5em;
    padding-top: 2.5em;
}

h2 {
    color: #365f91;
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}

h3 {
    color: #4f81bd;
    font-size: 1em;
    display: inline-block; 
    align-items: left;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul.contact {
    text-align: center;
    border-bottom:solid;
    border-width: 0.1em; 
    border-color:#17365d;
    font-size:smaller;
    font-style: bold;
}

 li {
    display: inline-block;
    padding: .8em;
} 

p, .float-right {
    padding-left: 50px;
    font-size: 1em;
}